* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

ul {
    display: flex;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 1s;
}

nav ul li a:hover::after {
    width: 100%;
}

h1 {
    margin-top: 50px;
    color: #FFD700;
    text-align: center;
}

.table table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 20px;
    background-color: black;
    color: white;
}

.table th, .table td {
    padding: 15px 20px;
    border: 2px solid white;
    text-align: center;
}

p {
    color: #FFD700;
}

td {
    color: whitesmoke;
}

.hilltop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.hilltop-item {
    text-align: center;
    flex: 1;
    max-width: 30%;
    padding: 10px;
}

.hilltop-item img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
  
}


.hilltop-item p {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    transition: 2s;
}
.hilltop-item img:active {
    transform: scale(0.95); 
}
