* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black; 
    color: white; 
}
#header {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

ul {
    display: flex;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 1s;
}

nav ul li a:hover::after {
    width: 100%;
}

.gallery {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.image-item p {
    margin-top: 5px;
    font-size: 16px;
    color: white;
}

.image-item:hover {
    transform: scale(1.2);
    transition: 2s;
}