* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color:Black; 
    position: relative;
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px; 
}

ul {
    display: flex;
    padding-left: 0; 
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    color: white; 
    text-align: center;
    margin-top: 100px; 
    z-index: 2; 
    position: relative; 
}

.header-text p {
    font-size: 20px;
    color: white;
}

.header-text h1 {
    font-size: 60px; 
    color: white; 
    margin-top: 10px; 
}
.header-text h1 span{color:red;}


img {
    
    position: absolute;
    top: 50px;
    right: 20px; 
    width: 150px; 
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color:Black; 
    color: white;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.about-photo {
    margin-left: 20px;
    max-width: 200px; 
    max-height: 200px;
    border-radius: 10px;
}
